# Question 1

In [28]:
k = 0
def j():
    global k
    k = c(k)
def c(k):
    return k + 2

In [29]:
j()                                
j()                                
j()                                
k

6

# Question 2

In [75]:
def text_length(a):                                          
    try:                                                    
        file = open(a, "r")                                     
        contents=file.read()                                               
        print('Given file length is : '+ str(len(contents)))         
        file.close()                                                   
    except:                                                           
        print('File '+a+' not found.')

In [76]:
text_length("python.py")

Given file length is : 11

In [77]:
text_length("python2.py")

File python2.py not found.

# Question 3

In [78]:
class Marsupial(object):                    
  
    def __init__(self):                               
        self.list = []                    
    def put_in_pouch(self, item):           
        self.list.append(item)
    def pouch_contents(self):               
        return self.list

In [79]:
val = Marsupial()
val.put_in_pouch('doll')
val.put_in_pouch('firetruck')
val.put_in_pouch('kitten')
val.pouch_contents()

['doll', 'firetruck', 'kitten']

In [80]:
class Kangaroo(Marsupial):                      
    
    def __init__(self,x,y):                                     
        Marsupial.__init__(self)                 
        self.x = x                                
        self.y = y
                                  
    def jump(self,dx,dy):                        
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):                           
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [81]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [82]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [83]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [51]:
def collatz(val):                   
   
    if val != 1:                   
        if val%2!=0:                
            print(int(val))       
            collatz(3*val+1)       
        
        else:
            print(int(val))         
            collatz(val/2)          
  
    else:
        print(int(val));

In [52]:
collatz(1)

1

In [53]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [54]:
def binary(b):
    
    if b>0:                           
        return (b % 2 + 10*binary(int(b // 2)))
       
    else:
         return 0

In [55]:
binary(0)

0

In [56]:
binary(1)

1

In [57]:
binary(3)

11

In [5]:
binary(9)

1001

# Question 6

In [8]:
from html.parser import HTMLParser                               
class HeadingParser(HTMLParser):                      
    def __init__(self):                                                 
        HTMLParser.__init__(self)                           
        self.head =0                                                          
        self.intend = ""
    def handle_starttag(self, tag, attrs):              
        if tag[:-1]=='h':
            self.head = 'type'
    def handle_data(self, data):                             
        if self.head=="type":
            print(self.intend+ data)                         
            self.intend+= "    "
            self.head=0

In [9]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

# Question 7

# Question 8

In [61]:
import sqlite3
connect = sqlite3.connect('database_db')
curs = connect.cursor()
curs.execute("CREATE TABLE database1 (City text, Country text, Season text, Temperature dec, Rainfall dec)")
curs.execute("INSERT INTO database1 VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
curs.execute("INSERT INTO database1 VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
curs.execute("INSERT INTO database1 VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
curs.execute("INSERT INTO database1 VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
curs.execute("INSERT INTO database1 VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
curs.execute("INSERT INTO database1 VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
curs.execute("INSERT INTO database1 VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
curs.execute("INSERT INTO database1 VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
curs.execute("INSERT INTO database1 VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
curs.execute("INSERT INTO database1 VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
curs.execute("INSERT INTO database1 VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
curs.execute("INSERT INTO database1 VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
connect.commit()
connect.close()

In [62]:
import sqlite3
connect = sqlite3.connect('database_db')
curs = connect.cursor()
curs.execute('SELECT Temperature FROM database1 ')
for record in curs:
    print(record)
curs.execute('SELECT DISTINCT City FROM database1 ')
for record in curs:
    print(record)
curs.execute('SELECT * FROM database1  where Season="Fall"')
for record in curs:
    print(record)
curs.execute('SELECT * FROM database1  where Country="India"')
for record in curs:
    print(record)
curs.execute('SELECT City,Country FROM database1  where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')
for record in curs:
    print(record)
curs.execute('SELECT City,Country,Season FROM database1  where (rainfall>200) AND (rainfall<400)')
for record in curs:
    print(record)
curs.execute('SELECT SUM(Rainfall) FROM database1  where City="Cairo"')
Annual_rainfall=curs.fetchall()
print(Annual_rainfall)
curs.execute('SELECT SUM(Rainfall),Season FROM database1  GROUP BY Season')
for record in curs:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question 9

In [64]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[val.upper() for val in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [65]:
[val.lower() for val in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [66]:
[len(val) for val in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [67]:
[[val.upper(),val.lower(),len(val)] for val in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [68]:
[val for val in words if len(val) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']